*.pdf binary
*.png binary
*.stl binary
*.ttf binary
*.woff2 binary
research/papers/LICENSE-*.html -diff
resources/fonts/IOSEVKA-LICENSE.md -whitespace
resources/icons/iconoir/LICENSE -whitespace
resources/models/licenses/*.txt -whitespace
